* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: #333;
    background-color: #ffffff;
}

/* Menu Button - Top Left */
.menu-container {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}

/* The Menu Button */
.menu-button {
    background: #ff634700;
    color: #E27900;
    font-size: 18px;
    border: none;
    padding: 2px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}


/* Dropdown Menu - Hidden by Default */
.dropdown-menu {
    display: none; /* Hidden until clicked */
    position: fixed;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    width: 380px; /* Make the width fit the content */
    height: auto;
    top: 50px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
}

/* Dropdown Items */
.dropdown-item {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.2s ease;
}

.dropdown-item:hover {
    background: #f0f0f0;
}

.top-left {
    background-color: #00000000;
    border: 0;
    font-size: 35px;
    font-weight: normal;
    color: white;
}

.top-right{
    background-color: #00000000;
    border: 0;
}

.top-bar {
    top: 0;
    left: 0;
    position: sticky;
    width: 100%;
    height: 50px;
    background-color: #ffffff; 
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 0 20px;
    z-index: 999; 
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
}

.brand-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.account-icon{
    background-color: rgba(255, 255, 255, 0);
    border: #00000000;
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin: 10px;
}


.brand-name {
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
    margin: 10px;
}

.container {
    max-width: 800px;
    min-height: 2000px;
    margin: 00px auto;
    padding: 7px;
    padding-bottom: 100px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin: 10px;
}

h4 {
    font-family: 'Inter', sans-serif;
    color: #E27900;
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    margin: 10px;
}

h5 {
    font-size: 16px;
    background-color: #b5b5b5;
    width: max-content;
    color: white;
    border: none;
    padding: 5px 15px;
    margin: 10px;
    border-radius: 30px;
}

/* Bottom Box - Default (Mobile: Full Width) */
.real-bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; /* Full width on mobile */
    height: 10%;
    background-color: #E27900;
    backdrop-filter: blur(10px); /* Blurs the background behind it */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    color: #333;
}

.bottom-bar {
    position: fixed;
    bottom: 0px; /* Position it slightly above the bottom for aesthetics */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    max-width: 450px; /* Make the width fit the content */
    height: auto; /* Adjust height to fit the buttons */
    display: flex;
    justify-content: center; /* Center the buttons */
    background-color: #ffffff00; /* Background color for the bar */
    border: 10px solid #1e272e00;
    border-top: 0px;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 60px; 
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0px; /* Add some spacing inside the bar */
    padding-left: 25px;
    padding-right: 25px;
    z-index: 10; /* Ensure it stays on top of other content */
}

.selector-btn-class {
    display: flex;
    justify-content: space-between;
}

.selector-icon {
    width: 34px;
    height: 34px;
}

.selector-btn {
    font-size: 18px;
    background-color: #ffffff00;
    border: 0;
    width: 70px;
    height:70px;
    border-radius: 30px;
    margin: 0 10px;
    cursor: pointer;
    transition-property: color, background-color, box-shadow, margin, padding;
    transition-duration: .1s;
    transition-timing-function: ease-out;
    position: relative; /* Required for floating effect */
}

/* Floating Effect - Selected Button Moves */
.selector-btn.floating {
    animation: floatUp 0.1s ease-out forwards; /* Moves up */
}

/* Apply Falling Animation When Deselected */
.selector-btn:not(.floating) {
    animation: fallDown 0.1s ease-out forwards; /* Moves back down */
}

/* Floating Effect - Button Moves Up */
@keyframes floatUp {
    0% { 
        transform: translateY(0); 
        background-color: #e2780000;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0); /* Soft shadow for depth */
    }
    100% { 
        transform: translateY(-30px); 
        background-color: #C53B00;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    }
}

/* Falling Effect - Button Moves Down */
@keyframes fallDown {
    0% { 
        transform: translateY(-30px); 
    }
    100% { 
        transform: translateY(0); 
    }
}

.filters {
    position: fixed;
    bottom: 130px; 
    left: 50%; 
    transform: translateX(-50%);
    height: auto;
    width: 380px;
    z-index: 10;
    background-color: #dcdcdcd7;
    backdrop-filter: blur(10px); /* Blurs the background behind it */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    border-top: 1px solid rgb(255, 255, 255);
    border-radius: 50px;
    padding: 20px;
}

.utensil-filters{
    position: fixed;
    bottom: 130px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 380px;
    height: auto;
    margin: 0px;
    z-index: 10;
    background-color: #dcdcdcd7;
    backdrop-filter: blur(10px); /* Blurs the background behind it */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    border-top: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 20px;
}

.time-filters{
    position: fixed;
    bottom: 130px; 
    left: 50%; 
    transform: translateX(-50%);
    width: 380px;
    height: auto;
    margin: 0px;
    z-index: 10;
    background-color: #dcdcdcd7;
    backdrop-filter: blur(10px); /* Blurs the background behind it */
    -webkit-backdrop-filter: blur(10px); /* Safari support */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow for depth */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    border-top: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding: 20px;
}

/* Label for the Slider */
#time-slider-label {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Range Slider */
#time-slider {
    width: 80%;
    -webkit-appearance: none;
    appearance: none;
    height: 8px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    outline: none;
    transition: background 0.2s;
    cursor: pointer;
}

/* Slider Thumb (Handle) */
#time-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    background: #E27900;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

/* Hover Effect on Thumb */
#time-slider::-webkit-slider-thumb:hover {
    transform: scale(1.2);
}

/* Time Display */
#time-value {
    font-size: 15px;
    font-weight: bold;
    margin-top: 8px;
    color: #333;
}

.filter-btn {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 12px 17px;
    margin: 3px;
    cursor: pointer;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-property: font-weight, padding, margin, border, color;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.filter-btn:active {
    padding: 12px 20px;
    margin: 3px;
    margin-left: 0px;
    margin-right: 0px;
}

#protein-btn.active {
    background-color: #933c39;
    font-weight: bold;
    color: white;
}

#fiber-btn.active {
    background-color: #7c9418;
    font-weight: bold;
    color: white;
}

#diary-btn.active {
    background-color: #E5D798;
    font-weight: bold;
    color: white;
}

#carbs-btn.active {
    background-color: #ab8c10;
    font-weight: bold;
    color: white;
}

#fruits-btn.active {
    background-color: #6434b1;
    font-weight: bold;
    color: white;
}

#sauce-btn.active {
    background-color: #7e4429;
    font-weight: bold;
    color: white;
}

#utensil-btn {
    background-color: #E27900;
    font-weight: bold;
    color: white;
}

#utensil-btn.active {
    background-color: #ffffff;
    font-weight: normal;
    color: rgb(0, 0, 0);
}

.recipes-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Responsive two-column layout */
    gap: 10px; /* Spacing between boxes */
    padding: 0px;
}

.recipe-item {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden; /* Ensures the content fits within rounded borders */
    text-align: center;
    padding: 0px;
    padding-bottom: 15px;
    transition: transform 0.2s ease-in-out;
}

.recipe-item:hover {
    transform: scale(1.05);
}

.recipe-link {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none; /* Remove default underline */
    color: inherit; /* Keep default text color */
}

.recipe-thumbnail {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

/* Recipe Title */
.recipe-title {
    height: 32px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin: 15px;
    margin-top: 10px;
    color: #333;
    text-align: left;
}

/* Recipe Information Container */
.recipe-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
    background-color: #f7f7f700;
    border-radius: 5px;
    margin-top: 0px;
}

/* Author Styling */
.recipe-author {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    color: #555;
    margin-right: 10px
}

/* Components Box */
.recipe-components {
    font-family: 'Inter', sans-serif;
    max-width: 50%;
    font-size: 13px;
    color: #666;
    background-color: #dadada;
    padding: 4px 8px;
    border-radius: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recipe-item a:hover {
    text-decoration: underline;
}

/* Recipe Modal (Hidden by Default) */
.recipe-modal {
    display: none; /* Hidden initially */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Dark overlay */
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

/* Modal Content */
.recipe-modal-content {
    background: white;
    max-width: 600px;
    margin: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
}

/* Close Button */
.close-modal {
    color: white;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}

/* Enlarged Recipe Image */
.modal-thumbnail {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 7px;
}

/* Recipe Title */
#modal-title {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #333;
    margin: 15px;
}

/* Recipe Author */
#modal-author {
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    color: #555;
    margin: 15px
}

/* Recipe Components */
.modal-components {
    margin: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 13px;
    color: #ffffff;
    background-color: #E27900;
    padding: 4px 8px;
    border-radius: 7px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Recipe Description */
#modal-description {
    margin: 15px;
    font-size: 13px;
    color: #555;
}

/* View Full Recipe Button */
.view-recipe-btn {
    background-color: #E27900;
    color: white;
    font-size: 15px;
    padding: 10px 15px;
    margin: 15px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.view-recipe-btn:hover {
    background-color: #d9534f;
}

/* Desktop: Set width to 500px and center it */
@media (min-width: 768px) { 
    .bottom-bar {
        width: 500px;
        left: 50%;
        transform: translateX(-50%); /* Center it */
        border-radius: 10px 10px 0 0; /* Optional: Rounded edges on desktop */
    }
}

/* Modal Fade-In Effect */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}


@media (max-width: 480px){
    .recipes-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Desktop: 4 Columns */
@media (min-width: 1024px) {
    .recipes-list {
        grid-template-columns: repeat(4, 1fr); /* Force exactly 4 columns */
    }
}