* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #333;
}

.container {
    max-width: 800px;
    min-height: 2000px;
    margin: 10px auto;
    padding: 20px;
    padding-bottom: 100px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
}

.title {
    color: #ffffff;
    padding: 15px;
    background-color: #DD6E42;
    border-radius: 50px;
}

h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

h3 {
    font-size: 20px;
    text-align: left;
    margin: 10px;
}

p {
    text-align: left;
    font-size: 16px;
    margin: 10px;
}

.selector-btn-class {
    display: flex;
    justify-content: space-between;
}

.selector-btn {
    width: 49%;
    padding: 10px;
    color: white;
    background-color: #dd6e42;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin: 0px;
    text-align: center;
    border-color: rgba(255, 255, 255, 0);
    transition-property: color, font-weight, background-color;
    transition-duration: .25s;
    transition-timing-function: ease-out;
}

.selector-btn:hover {
    color: rgb(0, 0, 0);
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin: 0px;
    text-align: center;
    border-color: rgba(255, 255, 255, 0);
}

.filters {
    width: 100%;
    height: 10%;
    margin: 0px;
    z-index: 10;
    background-color: #dd6e4200;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 20px;
    padding-top: 10px;
}

.utensil-filters{
    width: 100%;
    height: 10%;
    z-index: 10;
    background-color: #dd6e4200;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;    
    padding: 20px;
    padding-top: 10px;
}

.time-filters{
    position: fixed;
    bottom: 20px; /* Position it slightly above the bottom for aesthetics */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust for centering */
    width: auto; /* Make the width fit the content */
    height: auto; /* Adjust height to fit the buttons */
    display: flex;
    justify-content: center; /* Center the buttons */
    background-color: #5b5b5bb9; /* Background color for the bar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    border-radius: 60px; /* Round the corners for a neat look */
    padding: 15px; /* Add some spacing inside the bar */
    z-index: 10; /* Ensure it stays on top of other content */
    backdrop-filter: blur(3px);
}

.filter-btn {
    font-size: 16px;
    background-color: #b5b5b5;
    color: white;
    border: none;
    padding: 12px 17px;
    margin: 3px;
    cursor: pointer;
    border-radius: 30px;
    transition-property: font-weight, padding, margin;
    transition-duration: 0.25s;
    transition-timing-function: ease-out;
}

.filter-btn:hover {
    font-weight: bold;
    padding: 11.5px 22px;
}

.filter-btn:hover::after {
    content: '';
    position: absolute;
    height: 20px;
    background: transparent;
    left: 0;
    right: 0;
    top: 100%;
  }

.filter-btn.active {
    font-weight: bold;
    /*box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.409);*/
    background-color: #dd6e42;
}

/* Specific colors for each filter when active */
#protein-btn.active {
    background-color: #EC5F5A;
}

#fiber-btn.active {
    background-color: #BFE450;
}

#diary-btn.active {
    background-color: #E5D798;
}

#carbs-btn.active {
    background-color: #EFCE4E;
}

#fruits-btn.active {
    background-color: #564eef;
}

#sauce-btn.active {
    background-color: #aa5b36;
}

#utensil-btn {
    background-color: #DD6E42;
}

#utensil-btn.active {
    background-color: #b5b5b5;
}


.time-btn {
    font-size: 16px;
    color: #ffffff80;
    background-color: #b5b5b500;
    padding: 12px 17px;
    border-radius: 15px;
    margin: 0 10px;
    cursor: pointer;
    transition-property: color, background-color, box-shadow, margin, padding;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.time-btn:hover {
    font-weight: bold;
    padding: 11.5px 22px;
}

.time-btn.active {
    color: #ffffff;
    background-color: #dd6e4200;
    box-shadow: 0px 0px 0px 3px rgb(255, 104, 44);
    border-radius: 50px;
}

.recipes-list {
    list-style-type: none;
}

.recipe-item {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    margin: 5px 0;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 50px;
}

.recipe-thumbnail {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 40px;
}

.recipe-item a {
    text-decoration: none;
    font-size: 15px;
    color: #007BFF;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    padding-left: 10px;

}

.recipe-item a:hover {
    text-decoration: underline;
}
